---
import { NjwdsAlert, NjwdsBanner } from "@newjersey/njwds-components";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Static Web Components Example">
  <h1>Static Web Components Example</h1>
  <h2>Banner Component</h2>
  <h3>Static</h3>
  <njwds-banner></njwds-banner>
  <h3>React</h3>
  <NjwdsBanner client:only="react" />
  <h2>Alert Component</h2>
  <h3>Static</h3>
  <njwds-alert type="warning" header-text="Warning">
    <span
      >Lorem ipsum dolor sit amet, <a href="">consectetur adipiscing</a> elit, sed
      do eiusmod.</span
    >
  </njwds-alert>
  <h3>React</h3>
  <NjwdsAlert client:only="react" type="warning" headerText="Warning">
    <span
      >Lorem ipsum dolor sit amet, <a href="">consectetur adipiscing</a> elit, sed
      do eiusmod.</span
    >
  </NjwdsAlert>
</Layout>
